<section class="share">
    <h3>{{ site.translations.text.share | default: "Share" }}</h3>
    <a aria-label="{{ site.translations.button.share_on_twitter | default: 'Share on Twitter' }}" href="https://twitter.com/intent/tweet?text=&quot;{{ page.description }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={{ page.tags | join: ',' }}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="{{ site.translations.button.share_on_twitter | default: 'Share on Twitter' }}">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <a aria-label="{{ site.translations.button.share_on_instagram | default: 'Share on Instagram' }}" href="https://www.instagram.com/{{ site.instagram_username }}/"
    title="{{ site.translations.button.share_on_instagram | default: 'Share on Instagram' }}">
        <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
    </a>
</section>
